---
layout: page
# The layout for Tag page
---

    <title>계산기</title>
    <style>
    </style>
    <script language="javascript">
    {
      function Chking() {
          var f = eval("document.frm");

          if(f.option1.value && f.option2.value && f.option3.value && f.option4.value) {
              f.total.value = parseInt(OptionChk(f.option11.value,f.option1.value)) + parseInt(OptionChk(f.option22.value,f.option2.value)) + parseInt(OptionChk(f.option33.value,f.option3.value)) + parseInt(OptionChk(f.option44.value,f.option4.value));

              f.p1.value = Math.round(OptionChk(f.option11.value,f.option1.value)*10)/10 + '%';
              f.p2.value = Math.round(OptionChk(f.option22.value,f.option2.value)*10)/10 + '%';
              f.p3.value = Math.round(OptionChk(f.option33.value,f.option3.value)*10)/10 + '%';
              f.p4.value = Math.round(OptionChk(f.option44.value,f.option4.value)*10)/10 + '%';
          } else {
              return false;

          }
      }

      function InsertData() {
        var batk = $("#hero > option:selected").attr("value1");
        var blife = $("#hero > option:selected").attr("value2"); 
        var bdef = $("#hero > option:selected").attr("value3");

        var f = eval("document.frm");

        f.base_att.value = batk;
        f.base_life.value = blife;
        f.base_def.value = bdef;
      }

      function OptionChk(val, data) {
        if((val == "crit_rate")) {
          data = data * 1.5;
          return data;
        } else if((val == "speed")) {
          data = data * 2;
          return data;
        } else if ((val == "att")) {
          var f = eval("document.frm");
          if(f.base_att.value > 500) {
            data = (data / f.base_att.value)*100;
            return data;
          } else {
            return 0;
          }
        } else if ((val == "life")) {
          var f = eval("document.frm");
          if(f.base_life.value > 3800) {
            data = (data / f.base_life.value)*100;
            return data;
          } else {
            return 0;
          }
        } else if ((val == "def")) {
          var f = eval("document.frm");
          if(f.base_def.value > 450) {
            data = (data / f.base_def.value)*100;
            return data;
          } else {
            return 0;
          }
        } else
          return data;
        }
      }
    </script>
  </head>
  <body>
    <style type="text/css">
      .tg  {border-collapse:collapse;border-color:#9ABAD9;border-spacing:0;}
      .tg td{background-color:#F4F6F6;border-color:#9ABAD9;border-style:solid;border-width:0px;color:#444;
        font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 7px;word-break:normal; text-align: center;}
      .tg th{background-color:#5D6D7E;border-color:#9ABAD9;border-style:solid;border-width:0px;color:#fff;
        font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 7px;word-break:normal; text-align: center;}
      .tg .tg-phtq{background-color:#EAEDED;border-color:inherit;text-align:center;vertical-align:top}
      .tg .tg-0pky{border-color:inherit;text-align:center;vertical-align:top}
      </style>
      <div style="text-align: center;">
      <form name="frm">
      <table class="tg">
      <thead>
        <tr>
          <th colspan="4">
            <select id="hero" title="영웅을 선택하세요" name="hero" class="form-control custom-select selectpicker" data-size="12" data-show-subtext="true" onchange="InsertData();" onmouseup="InsertData();" onKeyPress="InsertData();" onKeyUp="InsertData();">
              <option value1=1005 value2=4693 value3=532>갓마더</option>
              <option value1=957 value2=5057 value3=592>고양이 클라릿사</option>
              <option value1=1252 value2=4612 value3=627>구도자 아이테르</option>
              <option value1=1426 value2=5517 value3=583>군터</option>
              <option value1=889 value2=5784 value3=610>그림자 로제</option>
              <option value1=920 value2=4855 value3=525>글렌</option>
              <option value1=1199 value2=4491 value3=613>글루미레인</option>
              <option value1=894 value2=6840 value3=694>나락의 세실리아</option>
              <option value1=920 value2=4855 value3=525>네무나스</option>
              <option value1=903 value2=6635 value3=630>대장 퍼지스</option>
              <option value1=1138 value2=5421 value3=536>대족장 카와나</option>
              <option value1=621 value2=6034 value3=775>데스티나</option>
              <option value1=957 value2=5016 value3=645>도미니엘</option>
              <option value1=1187 value2=4491 value3=627>도전자 도미니엘</option>
              <option value1=649 value2=5254 value3=694>디에네</option>
              <option value1=839 value2=5517 value3=591>디에리아</option>
              <option value1=975 value2=7054 value3=652>디자이너 릴리벳</option>
              <option value1=1039 value2=5299 value3=673>디지</option>
              <option value1=957 value2=5057 value3=592>딩고</option>
              <option value1=966 value2=7323 value3=657>라비</option>
              <option value1=839 value2=6405 value3=752>라스트 라이더 크라우</option>
              <option value1=603 value2=4945 value3=662>랏츠</option>
              <option value1=1158 value2=6002 value3=553>랑디</option>
              <option value1=951 value2=5517 value3=583>레나</option>
              <option value1=930 value2=5380 value3=564>레오</option>
              <option value1=694 value2=4450 value3=655>레이</option>
              <option value1=827 value2=4046 value3=613>레퀴엠로어</option>
              <option value1=1208 value2=6488 value3=616>렘</option>
              <option value1=1109 value2=4329 value3=655>로만</option>
              <option value1=621 value2=5474 value3=798>로앤나</option>
              <option value1=821 value2=6266 value3=703>로제</option>
              <option value1=1119 value2=6266 value3=627>루나</option>
              <option value1=1316 value2=4777 value3=715>루루카</option>
              <option value1=558 value2=4725 value3=624>루시</option>
              <option value1=1412 value2=4248 value3=645>루트비히</option>
              <option value1=1283 value2=4976 value3=536>리디카</option>
              <option value1=1119 value2=6266 value3=627>리무루</option>
              <option value1=1119 value2=6266 value3=627>릴리벳</option>
              <option value1=821 value2=6751 value3=648>릴리아스</option>
              <option value1=594 value2=4989 value3=652>링</option>
              <option value1=540 value2=5319 value3=705>마법학자 도리스</option>
              <option value1=762 value2=4417 value3=661>마스코트 헤이즐</option>
              <option value1=1316 value2=4777 value3=715>마신의 그림자</option>
              <option value1=821 value2=6796 value3=648>마야</option>
              <option value1=1005 value2=4693 value3=532>만능 해결사 완다</option>
              <option value1=703 value2=5914 value3=596>매사냥꾼 쿠루리</option>
              <option value1=1187 value2=4491 value3=627>메르세데스</option>
              <option value1=1039 value2=5299 value3=673>메르헨 테네브리아</option>
              <option value1=640 value2=5297 value3=680>메이드 클로에</option>
              <option value1=1412 value2=4248 value3=645>멜리사</option>
              <option value1=957 value2=6148 value3=634>모르트</option>
              <option value1=758 value2=5826 value3=672>모험가 라스</option>
              <option value1=776 value2=6021 value3=718>무법자 크로제</option>
              <option value1=1000 value2=4895 value3=518>무카차</option>
              <option value1=1359 value2=5542 value3=585>무투가 켄</option>
              <option value1=1039 value2=5340 value3=617>뮤이</option>
              <option value1=822 value2=4693 value3=561>뮤즈 리마</option>
              <option value1=885 value2=4410 value3=501>미르사</option>
              <option value1=1244 value2=3925 value3=606>미스티체인</option>
              <option value1=1316 value2=4777 value3=715>바사르</option>
              <option value1=842 value2=6463 value3=617>바스크</option>
              <option value1=1197 value2=4572 value3=683>바알&amp;세잔</option>
              <option value1=1228 value2=6266 value3=473>바이켄</option>
              <option value1=1119 value2=6266 value3=627>바캉스 유피네</option>
              <option value1=1039 value2=5097 value3=518>바터스</option>
              <option value1=1088 value2=5016 value3=553>방랑 용사 레오</option>
              <option value1=930 value2=5380 value3=564>방랑자 실크</option>
              <option value1=1197 value2=4572 value3=683>백은칼날의 아라민타</option>
              <option value1=1003 value2=5704 value3=585>벨로나</option>
              <option value1=821 value2=6751 value3=648>벨리안</option>
              <option value1=1021 value2=4855 value3=610>보조형 랏츠</option>
              <option value1=1182 value2=5299 value3=571>불신자 리디카</option>
              <option value1=1228 value2=4370 value3=662>비비안</option>
              <option value1=1227 value2=6266 value3=473>비올레토</option>
              <option value1=1283 value2=5138 value3=522>빌트레드</option>
              <option value1=621 value2=5474 value3=798>빛의 루엘</option>
              <option value1=932 value2=4370 value3=652>사막의 보석 바사르</option>
              <option value1=1134 value2=5825 value3=662>샬롯</option>
              <option value1=951 value2=5517 value3=583>선봉대장 리코리스</option>
              <option value1=1039 value2=5299 value3=673>설국의 솔리타리아</option>
              <option value1=970 value2=5299 value3=603>세리스</option>
              <option value1=1218 value2=4521 value3=683>세릴라</option>
              <option value1=821 value2=6751 value3=648>세실리아</option>
              <option value1=1228 value2=6266 value3=473>세즈</option>
              <option value1=1228 value2=5784 value3=553>세크레트</option>
              <option value1=929 value2=4733 value3=494>셀레스트</option>
              <option value1=1228 value2=6266 value3=473>셀린</option>
              <option value1=1445 value2=6321 value3=645>셰나</option>
              <option value1=540 value2=4900 value3=729>소니아</option>
              <option value1=1177 value2=5340 value3=553>솔</option>
              <option value1=1010 value2=5097 value3=497>수린</option>
              <option value1=540 value2=4900 value3=729>수호천사 몽모랑시</option>
              <option value1=966 value2=7323 value3=657>슈</option>
              <option value1=649 value2=5254 value3=694>슈나</option>
              <option value1=1068 value2=5650 value3=536>슈리</option>
              <option value1=576 value2=5700 value3=743>슈팅스타 아카테스</option>
              <option value1=1039 value2=5517 value3=452>스벤</option>
              <option value1=1159 value2=4733 value3=627>승부의 제라토</option>
              <option value1=1029 value2=5097 value3=473>시더</option>
              <option value1=1188 value2=4693 value3=518>실크</option>
              <option value1=1228 value2=6266 value3=473>실험체 세즈</option>
              <option value1=1039 value2=5340 value3=617>심판자 키세</option>
              <option value1=1039 value2=3925 value3=606>아들라이</option>
              <option value1=1197 value2=4572 value3=683>아라민타</option>
              <option value1=758 value2=5826 value3=672>아로웰</option>
              <option value1=721 value2=6189 value3=785>아밍</option>
              <option value1=796 value2=3925 value3=599>아이노스</option>
              <option value1=705 value2=4248 value3=672>아이테르</option>
              <option value1=1019 value2=5738 value3=571>아젤리아</option>
              <option value1=603 value2=4945 value3=662>아카테스</option>
              <option value1=576 value2=5700 value3=743>안젤리카</option>
              <option value1=1081 value2=4572 value3=494>알렉사</option>
              <option value1=975 value2=7054 value3=652>알렌시아</option>
              <option value1=930 value2=4774 value3=497>암살자 시더</option>
              <option value1=1119 value2=6691 value3=594>암살자 카르투하</option>
              <option value1=1027 value2=5299 value3=469>암살자 콜리</option>
              <option value1=894 value2=6840 value3=571>야심가 타이윈</option>
              <option value1=966 value2=7323 value3=657>어둠의 코르부스</option>
              <option value1=1119 value2=6266 value3=627>어린 여왕 샬롯</option>
              <option value1=1019 value2=5738 value3=571>에노트</option>
              <option value1=1255 value2=5016 value3=652>에다</option>
              <option value1=649 value2=5254 value3=694>에밀리아</option>
              <option value1=1228 value2=6266 value3=473>에르발렌</option>
              <option value1=951 value2=5517 value3=583>에인즈</option>
              <option value1=649 value2=5254 value3=694>엘레나</option>
              <option value1=540 value2=4900 value3=729>엘슨</option>
              <option value1=1003 value2=5704 value3=585>엘페르트</option>
              <option value1=957 value2=5057 value3=592>여일의 디에리아</option>
              <option value1=1039 value2=3925 value3=606>연구자 캐롯</option>
              <option value1=859 value2=4167 value3=627>열화의 딩고</option>
              <option value1=885 value2=4693 value3=617>오틸리어</option>
              <option value1=1079 value2=5502 value3=564>오퍼레이터 세크레트</option>
              <option value1=1187 value2=4491 value3=627>외우주의 메르세데스</option>
              <option value1=1158 value2=6002 value3=553>유나</option>
              <option value1=1228 value2=5784 value3=553>유피네</option>
              <option value1=812 value2=4370 value3=462>의적 루지드</option>
              <option value1=1158 value2=6002 value3=553>이세리아</option>
              <option value1=1081 value2=4450 value3=504>이안</option>
              <option value1=685 value2=7043 value3=703>이튼</option>
              <option value1=921 value2=4855 value3=631>인형 제작가 펄호라이즌</option>
              <option value1=957 value2=5016 value3=645>자애의 로만</option>
              <option value1=1000 value2=4895 value3=518>자유로운 용병 헬가</option>
              <option value1=1283 value2=5138 value3=522>잔영의 비올레토</option>
              <option value1=1182 value2=5299 value3=571>잿빛 숲의 이세리아</option>
              <option value1=621 value2=5474 value3=798>적월의 귀족 헤이스트</option>
              <option value1=1168 value2=3877 value3=666>전도자 카마인로즈</option>
              <option value1=821 value2=6266 value3=703>전투형 마야</option>
              <option value1=1063 value2=4491 value3=599>제나</option>
              <option value1=1039 value2=5299 value3=673>제노</option>
              <option value1=1159 value2=4733 value3=627>제라토</option>
              <option value1=796 value2=3925 value3=599>제크토</option>
              <option value1=649 value2=4248 value3=631>죄악의 안젤리카</option>
              <option value1=970 value2=5935 value3=557>주시자 쥬리</option>
              <option value1=848 value2=4289 value3=494>쥬디스</option>
              <option value1=885 value2=6149 value3=617>지배자 릴리아스</option>
              <option value1=1144 value2=4895 value3=543>지휘관 로리나</option>
              <option value1=1283 value2=5138 value3=522>집행관 빌트레드</option>
              <option value1=957 value2=6148 value3=634>찰스</option>
              <option value1=1359 value2=5542 value3=585>체르미아</option>
              <option value1=1027 value2=5299 value3=469>초승달 무희 링</option>
              <option value1=1228 value2=4370 value3=662>최강 모델 루루카</option>
              <option value1=903 value2=6635 value3=630>카르투하</option>
              <option value1=1188 value2=4855 value3=508>카린</option>
              <option value1=1144 value2=4895 value3=543>카오스교 도끼 대장군</option>
              <option value1=963 value2=5138 value3=606>카오스교 도살추적자</option>
              <option value1=957 value2=4653 value3=515>카와나</option>
              <option value1=1119 value2=6091 value3=594>카와주</option>
              <option value1=1306 value2=4248 value3=652>카웨릭</option>
              <option value1=1119 value2=5340 value3=483>카일론</option>
              <option value1=966 value2=7323 value3=657>켄</option>
              <option value1=906 value2=6635 value3=630>코르부스</option>
              <option value1=1138 value2=5871 value3=462>콜리</option>
              <option value1=839 value2=6405 value3=752>크라우</option>
              <option value1=739 value2=6868 value3=733>크로제</option>
              <option value1=1252 value2=5219 value3=564>클라릿사</option>
              <option value1=1177 value2=5542 value3=553>클로에</option>
              <option value1=857 value2=5057 value3=543>키리스</option>
              <option value1=1283 value2=5138 value3=522>키세</option>
              <option value1=576 value2=5700 value3=743>키즈나 아이</option>
              <option value1=667 value2=5704 value3=749>키키라트 V.2</option>
              <option value1=951 value2=5517 value3=583>타라노르 근위부대원</option>
              <option value1=842 value2=6463 value3=617>타라노르 왕궁병사</option>
              <option value1=932 value2=4370 value3=652>타마린느</option>
              <option value1=821 value2=6751 value3=648>타이윈</option>
              <option value1=1359 value2=4895 value3=652>테네브리아</option>
              <option value1=1283 value2=4976 value3=536>파벨</option>
              <option value1=1119 value2=6091 value3=594>퍼지스</option>
              <option value1=1182 value2=5299 value3=571>폭격형 카논</option>
              <option value1=1010 value2=5097 value3=497>풍운의 수린</option>
              <option value1=1068 value2=5650 value3=536>퓨리우스</option>
              <option value1=1003 value2=5704 value3=585>플랑</option>
              <option value1=685 value2=6403 value3=703>필리스</option>
              <option value1=1081 value2=4572 value3=494>하탄</option>
              <option value1=1182 value2=5299 value3=571>해변의 벨로나</option>
              <option value1=1089 value2=5380 value3=511>헤이스트</option>
              <option value1=685 value2=6403 value3=703>헬렌</option>
              <option value1=1039 value2=5299 value3=673>현자 바알&amp;세잔</option>
              <option value1=1138 value2=5871 value3=462>혈검 카린</option>
              <option value1=821 value2=6266 value3=703>홍염의 아밍</option>
              <option value1=975 value2=7054 value3=652>화란의 라비</option>
              <option value1=1197 value2=4572 value3=683>환영의 테네브리아</option>
              <option value1=930 value2=4572 value3=585>휴라두</option>
            </select>
            </th>
        </tr>
      </thead>
        <tr>
          <th class="tg-0pky">
            <input type="number" title="영웅의 기초 공격력" class="form-control" style="width:120px; text-align: center;vertical-align: middle;" id="base_att" placeholder="공격력" min=0 value="" onmouseup="Chking();" onKeyPress="Chking();" onKeyUp="Chking();">
          </th>
          <th class="tg-0pky">
            <input type="number" title="영웅의 기초 생명력" class="form-control" style="width:120px; text-align: center;vertical-align: middle;" id="base_life" placeholder="생명력" min=0 value="" onmouseup="Chking();" onKeyPress="Chking();" onKeyUp="Chking();">
          </th>
          <th class="tg-0pky">
            <input type="number" title="영웅의 기초 방어력" class="form-control" style="width:120px; text-align: center;vertical-align: middle;" id="base_def" placeholder="방어력" min=0 value="" onmouseup="Chking();" onKeyPress="Chking();" onKeyUp="Chking();">
          </th>
          <th class="tg-0pky">           
          </th>
        </tr>
      <tbody>
        <tr>
          <td class="tg-phtq">
            <select id="option11" title="퍼센트 공격력, 생명력, 방어력, 적중, 저항, 치명피해 옵션은 변경하지 마세요" name="option11" class="form-control custom-select selectpicker" data-size="12" data-show-subtext="true" onchange="Chking();">
              <option value="">부옵션1</option>
              <option data-divider="true"></option>
              <option value="att">공격력</option>
              <option value="life">생명력</option>
              <option value="def">방어력</option>
              <option value="speed">속도</option>
              <option value="crit_rate">치명확률</option>
            </select>
          </td>
          <td class="tg-phtq" colspan="2">
            <input type="number" class="form-control text-center" id="option1" min=0 value="0" onmouseup="Chking();" onKeyPress="Chking();" onKeyUp="Chking();">
          </td>
          <td class="tg-phtq">
            <input type="text" class="form-control text-center" id="p1" value="" readonly style="width:80px; text-align: center;vertical-align: middle;">
          </td>
        </tr>
        <tr>
          <td class="tg-0pky">
            <select id="option22" title="퍼센트 공격력, 생명력, 방어력, 적중, 저항, 치명피해 옵션은 변경하지 마세요" name="option22" class="form-control custom-select selectpicker" data-size="12" data-show-subtext="true" onchange="Chking();">
              <option value="">부옵션2</option>
              <option data-divider="true"></option>
              <option value="att">공격력</option>
              <option value="life">생명력</option>
              <option value="def">방어력</option>
              <option value="speed">속도</option>
              <option value="crit_rate">치명확률</option>
            </select>
          </td>
          <td class="tg-0pky" colspan="2">
            <input type="number" class="form-control text-center" id="option2" min=0 value="0" onmouseup="Chking();" onKeyPress="Chking();" onKeyUp="Chking();">
          </td>
          <td class="tg-phtq">
            <input type="text" class="form-control text-center" id="p2" value="" readonly style="width:80px; text-align: center;vertical-align: middle;">
          </td>
        </tr>
        <tr>
          <td class="tg-phtq">
            <select id="option33" title="퍼센트 공격력, 생명력, 방어력, 적중, 저항, 치명피해 옵션은 변경하지 마세요" name="option33" class="form-control custom-select selectpicker" data-size="12" data-show-subtext="true" onchange="Chking();">
              <option value="">부옵션3</option>
              <option data-divider="true"></option>
              <option value="att">공격력</option>
              <option value="life">생명력</option>
              <option value="def">방어력</option>
              <option value="speed">속도</option>
              <option value="crit_rate">치명확률</option>
            </select>
          </td>
          <td class="tg-phtq" colspan="2">
            <input type="number" class="form-control text-center" id="option3" min=0 value="0" onmouseup="Chking();" onKeyPress="Chking();" onKeyUp="Chking();">
          </td>
          <td class="tg-phtq">
            <input type="text" class="form-control text-center" id="p3" value="" readonly style="width:80px; text-align: center;vertical-align: middle;">
          </td>
        </tr>
        <tr>
          <td class="tg-0pky">
            <select id="option44" title="퍼센트 공격력, 생명력, 방어력, 적중, 저항, 치명피해 옵션은 변경하지 마세요" name="option44" class="form-control custom-select selectpicker" data-size="12" data-show-subtext="true" onchange="Chking();">
              <option value="">부옵션4</option>
              <option data-divider="true"></option>
              <option value="att">공격력</option>
              <option value="life">생명력</option>
              <option value="def">방어력</option>
              <option value="speed">속도</option>
              <option value="crit_rate">치명확률</option>
            </select>
          </td>
          <td class="tg-0pky" colspan="2">
            <input type="number" class="form-control text-center" id="option4" min=0 value="0" onmouseup="Chking();" onKeyPress="Chking();" onKeyUp="Chking();">
          </td>
          <td class="tg-phtq">
            <input type="text" class="form-control text-center" id="p4" value="" readonly style="width:80px; text-align: center;vertical-align: middle;">
          </td>
        </tr>
        <tr>
          <td class="tg-phtq text-center" style="width:100px; vertical-align: middle;">
            점수
          </td>
          <td class="tg-phtq" colspan="2" title="치확 1.5배, 속도 2배 그외 일괄 1점">
            <input type="number" class="form-control text-center" id="total" value="" readonly>
          </td>
          <td class="tg-phtq">
          </td>
        </tr>
        <tr>
          <td colspan="4" style="text-align: left;">
            치확 1.5배<br>
            속도 2배<br>
            그외 일괄 1점<br>
            깡스텟, 치확, 속도일 경우에만 앞에 목록에서 맞는 능력치를 선택하시면 됨
          </td>
        </tr>
      </tbody>
      </table>
      </form>
      </div>
    </body>
